body {
    background-color: #fad9dd;
    /*background-image: radial-gradient(circle, #FCCACF, #D28C93);*/
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.projects {
    height: 95vh;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.project-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.2s, box-shadow 0.2s;
}

.project-card img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
}

.project-card h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
}

.project-card p {
    color: #666;
    font-size: 1em;
    margin-bottom: 15px;
}

.project-card a {
    display: inline-block;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.project-card a:hover {
    text-decoration: underline;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}