body {
    font-family: "Italiana", serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.projects {
    background-color: #dc8e98;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 50px;
    text-align: center;
}

.projects h1 {
    text-align: center;
    margin-bottom: 30px;
    color: white;
}

/* Centering the project grid */
.project-grid {
    max-width: 1250px;
    display: grid;
    justify-content: center; /* Centers the grid items */
    align-items: center; /* Aligns items vertically */
    grid-template-columns: repeat(3, minmax(280px, 1fr));
    gap: 40px;
    padding: 0 20px;
    margin: 0 auto; /* Ensures it's centered in the section */
}

/* Medium screens: 2 columns */
@media screen and (max-width: 1250px) {
    .project-grid {
        grid-template-columns: repeat(2, minmax(280px, 1fr));
        max-width: 800px;
        gap: 30px;
    }
}

/* Small screens: 1 column */
@media screen and (max-width: 900px) {
    .project-grid {
        grid-template-columns: 1fr;
        gap: 25px;
    }
}

/* Centering project cards */
.project-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 100%;
    max-width: 350px;
    transition: transform 0.2s, box-shadow 0.2s;
    margin: auto; /* Centers the cards */
}

.project-card img {
    width: 350px;
    border-radius: 10px;
    margin-bottom: 15px;
    height: 200px;
    object-fit: cover;
}

.project-card h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
}

.project-card p {
    color: #666;
    font-size: 1em;
    margin-bottom: 15px;
    font-family: "Jacques Francois", serif;
}

button {
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 10px;
    background: rgba(249, 208, 172, 0.7);
    font-family: "Italiana", serif;
}

button:hover {
    background-color: #D28C93;
}
