.about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #c56b74;
}

.main-div {
    justify-content: center;
    align-items: center;
}

.down-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    margin-top: -40px;
}
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
}

.down-arrow img {
    height: 150px;
    width: auto;
    animation: bounce 1.5s infinite ease-in-out;
}
.content-wrapper {
    display: flex;
    align-items: center;
    gap: 90px;
    max-width: 1200px;
    padding-top: 150px;
    margin: 0 auto;
}

.profile-container {
    position: relative;
    width: 380px;
    height: 530px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    object-fit: cover;
}

.profile-image {
    width: auto;
    height: 100%;
    border-radius: 50%;
    z-index: 1;
}

.text-container {
    max-width: 600px;
    text-align: left;
}

.text-container h3 {
    font-size: 24pt;
    font-family: "Italiana", serif;
    font-weight: lighter;
    color: white;
    margin-bottom: 10px;

}

.text-container h2 {
    font-size: 24pt;
    font-family: "American Typewriter";
    font-weight: normal;
    color: rgb(249, 208, 172);
    margin-bottom: 20px;
}

.text-container p {
    font-size: 14pt;
    font-family: "Jacques Francois", serif;
    font-weight: lighter;
    font-style: normal;
    color: #ffffff;
    line-height: 1.5;
}
.learn-more {
    font-size: 14pt;
    font-family: "Jacques Francois", serif;
    font-weight: lighter;
    font-style: normal;
    color: #ffffff;
    line-height: 1.5;
    text-align: center;
    animation: bounce 1.5s infinite ease-in-out;

}
.social {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.social-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.social-icon:hover {
    transform: scale(1.2);
}

.resume-button{
    padding: 5px 10px;
    margin-top: 15px;
    border-radius: 50px;
    background: rgba(249, 208, 172, 0.7);
    border-width: thin;
    border: white;
    font-family: "Italiana", serif;
    font-size: 18px;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

.resume-button:hover{
    transform: scale(1.1);
    background-color: #D28C93;
}

@media screen and (max-width: 900px) {
    .text-container{
        /*background-color: green;*/
        margin: 0 50px;
        /*margin-left: 30px;*/
    }

    .learn-more,.down-arrow {
        margin-top: -50px;
    }
}

